name: Release Build

on: workflow_dispatch
jobs:
  release:
    name: Release - ${{ matrix.platform.os-name }}
    strategy:
      matrix:
        platform:
          - os-name: Windows-x86_64
            runs-on: windows-latest
            target: x86_64-pc-windows-msvc
    
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: ${{ matrix.platform.target }}
          args: "--locked --release"
          strip: true

      - name: Publish artifacts and release
        uses: houseabsolute/actions-rust-release@v0
        with:
          executable-name: binwalk
          target: ${{ matrix.platform.target }}
          release-tag-prefix: v      
          changes-file: ""  
          action-gh-release-parameters: |
            {
              "draft": false,
              "prerelease": false,
              "overwrite": true,
              "generate_release_notes": false,
              "make_latest": true,
              "token": "${{ secrets.GITHUB_TOKEN }}"
            }
        
